html {
  // responsive font size
  font-size: calc(100vw / 1280 * 10);
  @media screen and (max-width: 767px) {
    font-size: calc(100vw / 393 * 10);
  }
}

body {
  font-size: 1.4rem;
  color: #fff;
  background-color: #000;
  -webkit-font-smoothing: antialiased;
}

*,
*::after,
*::before {
}

*::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
  width: 0;
  height: 0;
}
input,
button {
  display: inline-block;
  border: none;
}

img {
  background-color: $color-wild-sand;
}

.no-scroll {
  overflow: hidden;
}
